<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>fluffagram</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel='stylesheet' href='/stylesheets/materialize.min.css'>

</head>

<body>

  <%= yield %>

<!-- Footer here -->
<footer id="foot" class="black page-footer">
        <div class="footer-copyright">
          <div class="container">
          © 2016 CL @ General Assembly
          </div>
        </div>
</footer>


  <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>


</body>
